[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/vulkan-headers"]
	path = external/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
